.card-cadastro{
    width: 600px;
    height: auto;
    border-radius: 10px;
    /* border: 1px black solid; */
    box-shadow: 5px 5px 5px grey;
}

.card-cadastro-titulo{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.card-cadastro-div-separator{
    color: grey;
    /*margin: 25px 10px;*/
}

.card-cadastro-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    div{
        margin: 10px 0;
    }
}

.card-cadastro-content-campo-nome{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cadastro-content-campo-data{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-cadastro-content-campo-genero{
    width: 46%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding-left: 4%;
    select {
        width: 259px;
        height: 44px;
        padding-left: 20px;
        border-radius: 8px;
        border: 1px solid grey;
        font-size: 15px;
        background: white url('data:image/svg+xml;utf8,<svg fill="black" height="12" width="12" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 12,0 6,7"/></svg>') no-repeat right 10px center;
        appearance: none;
        background-size: 12px;
    }
}

.card-cadastro-content-campo-email{
    width: 100%;
    input{
        width: 99%;
    }
}

.card-cadastro-content-campo-senha{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    padding-left: 5px;
}

.card-cadastro-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.card-cadastro-footer-envia-btn{
    width: 150px;
    height: 50px;
    background-color: rgb(247, 144, 60);
    cursor: pointer;
    border-radius: 50px;
}

.card-cadastro-footer-envia-btn:hover{
    transition: 0.5s;
    background-color: orangered;
}